body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background: #F2F4F7;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pageContainer {
  padding: 25px;
}

/* navbar */
.navbarLogo {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
  font-size: 25px;
}

#currUserName {
  color: blue;
  text-decoration: underline;
}

/* banner */
.banner {
  background: white;
  padding: 35px;
}

.bannerTitle,
.bannerSlogan {
  margin: 15px;
}

.bannerTitle {
  color: #001AFF;
  text-decoration: underline;
}

.bannerSlogan {
  font-size: 30px;
}

/* auth form */
.authFormContainer {
  background: white;
  /* height: 60vh; */
  padding: 25px;
}

.authBtn {
  background: #0014C5;
  color: white;
}

/* forgot password/email verification */
.authForm {
  background: white;
  padding: 25px;
  border-radius: 20px;
}


/* option box */
.optionBox {
  height: 20vh;
  display: flex;
  background: #0014C5;
  align-items: center;
  transition: 0.4s;
}

.optionBox:hover {
  background: #000c78;
}

.optionBox h1 {
  text-align: center;
  color: white;
  margin: auto;
}

/* calendar */
.calendar {
  width: 100%;
  /* border: 2px white solid; */
  table-layout: fixed;
  border-radius: 20px;

}

.calendarContainer {
  /* width: 100%; */
  text-align: center;
}

.calendarRow {}

.calendarHeaderCell {
  padding: 10px;
  background: #010E81;
  color: white;
}

.calendarCell,
.todayCalendarCell,
.calendarCellDisabled {
  height: 10vh;
  margin: 2px;
}

.todayCalendarCell,
.calendarCell {
  padding: 10px;
}

.calendarCell,
.todayCalendarCell {
  transition: 0.4s;
}

.todayCalendarCell:hover {
  background: #0e1ead;
}

.calendarCell {
  background: white;

  /* display: flex;
  justify-content: center;
  align-items: flex-end; */
}

.todayCalendarCell,
.calendarCell:hover {
  background: #4050e3;
  color: white;
}


.calendarCellDisabled {
  background: #F2F4F7
}

#yearField {
  justify-content: center;
}

#yearField,
#ratingField {
  display: flex;
  align-self: center;
}

.yearChangeBtn,
.ratingChangeBtn,
.yearChangeBtn:disabled,
.ratingChangeBtn:disabled {

  background-color: rgb(18, 18, 185);
  color: white;
}


.yearChangeBtnContainer,
.ratingChangeBtnContainer {
  align-self: center;
}

/* content container */

/* list container */
.listComponent {
  padding: 10px;
}

/* list item */
.listItem {
  padding: 15px;
  background: #010E81;
  color: white;
  margin: 10px;
  border-radius: 5px;
  display: flex;
}

.listItem h5,
.listItem {
  color: white;

}

.listItem-contents {
  width: 60%;
}

.listItem-buttons {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.listItem-buttons a {
  color: white;
}

/* form container */
.formContainer {
  padding: 25px
}

/* cancel btn */
.cancelBtn,
.cancelAuthBtn {
  background: #000552;
  color: white;
}

.authBtn,
.cancelBtn {
  width: 100%;
}


/* taskForm */
.taskFormContainer {
  margin: auto;
  justify-content: center;
}

/* questions */
.questionField,
.questionRow {
  background: rgb(240, 240, 240);
  border-radius: 15px;
  padding: 15px;
  margin-top: 10px;
  box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .2), 0 0 0 1px rgba(10, 10, 10, .1);
}

.questionRow {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  display: flex;
}

.questionRow div {
  margin: auto;
}

.questionRow .column {
  white-space: nowrap;
  overflow: hidden;
}

.questionRow .column h1 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectLink {
  display: flex;
  justify-content: end;
}

/* quiz attempt */
.quizAttemptSubmitBtn {
  width: 100%;
  padding: 5px;
  background-color: rgb(21, 21, 211);
  color: white;
  margin: 10px;
}

.quizAttemptQuestion {
  background: rgb(255, 255, 255, 0.85);
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;

}


/* breadcrumbs */
.breadCrumbContainer {
  padding: 10px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

/* filter */
.contentFilter {
  padding: 10px
}

/* calendar filter */
.calendarFilter {
  margin: 10px auto;
}

/* task list */
.taskList {
  padding-bottom: 10px;
}

.cancelBtn {
  background: rgb(84, 83, 83);
}

/* home */
.homeContainer {
  padding: 20px;
}

.addButton {
  background: rgb(36, 36, 139);
  color: white;
}

/* loader container */
.loaderContainer {
  padding: 20px;
}
